* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

body {
    /* background: url(./assets/image/nokia3310.jpg);
    background-position: bottom center;
    background-repeat: no-repeat; */
    font-family: "Tiny5", sans-serif;
    background-color: #9dca8e;
}

#musicOn {
    display: none;
}

.musicControl span {
    cursor: pointer;
}

.musicControl {
    transition: all .3s ease;
    visibility: hidden;
    margin-right: 30px;
}

.musicControl label input:checked~.musicLable {
    color: #318216;
    font-size: 18px;
    font-weight: bold;
}

.controls {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 546px;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    /* visibility: 'hidden'; */
}

.musicControl {
    align-self: start;
    justify-self: start;
    visibility: 'hidden';

}
.scoreDisplayS{
    font-weight: bold;
    font-size: 24px;
}
.gameContainer {

    margin-top: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* transform: scale(1.2); */
    margin-bottom: 40px;
}

.playground {
    position: relative;

}

.menuContainer {
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideMenu {
    display: none;
}

.menuContainer>.startBtn {
    background: url(./startImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 186px;
    color:white;
    font-size: 36px;
    font-family: "Tiny5", sans-serif;
    height: 162px;
    border: none;
}

.playground>div {
    width: cal(36* 14);
    display: grid;
    grid-template-columns: repeat(36, auto);
    /* gap: 0; */
    /* border: 1px solid red; */
}

.box {
    width: 14px;
    height: 14px;
    /* background-color: red; */
    background-color: rgb(53, 101, 60);
    border: 1px solid rgba(102, 151, 100, 0.349);
    transition: all .3s ease;
    /* background-image: url(./middleTile.png); */
}

.snake {
    border-radius: 3pxw;
    background-color: rgb(185, 223, 121);
    padding: 2px;
    /* width: 12px;
    height: 12px; */
    transition: all .3s ease;
}

.snake::after {
    /* content: '✈'; */
}

.head {
    border: 2px solid rgb(66, 173, 8);
    background-color: rgb(88, 154, 37);
    padding: 2px;
    border-radius: 4px;

    transition: all .3s ease;
}

.zero {
    transform: rotateZ(0deg);
}

.minusNinety {
    transform: rotateZ(-90deg);
}

.minusTwoSeventy {
    transform: rotateZ(-270deg);
}

.minusOneEighty {
    transform: rotateY(-180deg);
}

.head::after {
    /* content: "🐸"; */
    content: "👀";
    font-size: 12px;
    position: relative;
    top: -7px;
}


.apple {
    /* background-color: green; */
    height: 14px;
    width: 14px;

}

.apple>img {
    /* background-color: green; */
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aliceblue; */
    background: url(./gameOver.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    /* transform: translateY(-50%); */
    visibility: hidden;
    gap: 4px;
    /* display: flex; */
    color: white;
}

.gameOver>p {
    font-size: 24px;
    font-weight: bold;
}

.gameOver>.restartBtn {
    margin-top: 16px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    padding: 4px 12px;
    border: none;
    font-size: 24px;
    color: white;
    border-radius: 8px;
    background: #318216;
    background: radial-gradient(circle, rgba(49, 130, 22, 1) 10%, rgba(24, 115, 57, 1) 79%, rgba(63, 150, 44, 1) 100%);
    transition: all .3s ease;
    cursor: pointer;
}

.gameOver>.restartBtn:hover {
    background: #488f31;
    background: radial-gradient(circle, rgba(72, 143, 49, 1) 13%, rgba(29, 163, 78, 1) 96%);
}

.controller {
    transform: rotateZ(-45deg);
    gap: 10px;
    /* margin-top: 75px; */
    /* margin-left: auto;
    margin-right: auto; */
    width: 120px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    visibility: hidden;
}

.dirBtn {
    
    font-family: "Tiny5", sans-serif;
    padding: 10px;
    width: 56px;
    height: 56px;
    color: white;
    border-radius: 50%;
    transform: rotateZ(45deg);
    background: #318216;
    background: radial-gradient(circle, rgba(49, 130, 22, 1) 10%, rgba(24, 115, 57, 1) 79%, rgba(63, 150, 44, 1) 100%);
    transition: all .3s ease;
    cursor: pointer;
}

.dirBtn:hover {
    background: #488f31;
    background: radial-gradient(circle, rgba(72, 143, 49, 1) 13%, rgba(29, 163, 78, 1) 96%);

}

.tile {
    border: none;
    background-color: transparent;
}
.scoreContainer{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}.scoreDisplay{
    font-size: 18px;
}
.highScoreDisplay{
    font-size: 24px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    font-size: 24px;
    color: rgb(29, 29, 29);
    text-align: center;
}


.footerItems{
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
}

.footerItems p{
    font-size: 24px;
}
footer  i{
    margin-top: 16px;
    color:rgb(29, 29, 29);
    cursor: pointer;
    font-size: 24px;
    transition: color  .3s ease, font-size .3s ease;
    margin-bottom: 20px;
}

footer  i:hover{
    border: 5px solid rgb(29, 29, 29);
    border-radius: 50%;
    color: #318216;
    font-size: 28px;
}

.footerItems .madeby{
    font-size: 18px;
}


@media (max-width: 992px) {
    .gameContainer{
        transform: scale(.6);
    }

    .controls{
        max-width: 360px;
    }

    .footerItems{
        max-width: 380px;
    }
}